# ---------------------------------------------------
# git - files to ignore
# doc: https://git-scm.com/docs/gitignore
# ---------------------------------------------------
# BOF
# ---------------------------------------------------
# Data, Log and temporary files
data/*
*.log
# ---------------------------------------------------
# ---------------------------------------------------
# EOF